[2020-08-11 08:44] LionsAd opened #1 "Great work!"
Just a little nitpick - it is Yjs not YJs.

I think - and I never asked Kevin _ that the Y is a fork showing the merge, the js then is just a subscript for the implemented language.

This issue can be closed, really just wanted to say that this is great work!

[2020-08-11 09:47] BitPhinix commented on #1
Thanks for pointing that out @LionsAd! I will fix the spelling asap since it's not only in the readme and a breaking change in the future if people are using it.

[2020-08-11 09:52] #1 closed

[2020-09-20 18:13] amilich opened #24 "Initial value?"
I see the initial value inside Client is set to `[]`. How is the editor initialized with a non-empty array initial value? I'm seeing `Uncaught Error: Cannot get the start point in the node at path [] because it has no start text node.` with a basic setup.

[2020-09-20 18:35] amilich commented on #24
Working off of https://github.com/BitPhinix/slate-yjs-example/tree/master/src

[2020-09-20 22:14] beorn opened #25 "Assumes causal ordering of Yjs events?"
Hi,

I'm trying to wrap my head around sync-ing CRDTs and the integration with non-CRDT data models like Slate.  If I understand correctly, it seems that you translate between Slate ops and Yjs events ([yjsEditor.ts](https://github.com/BitPhinix/slate-yjs/blob/master/src/plugin/yjsEditor.ts)).

But wouldn't this cause a problem since CRDT events/ops are not regular ordered deltas, but operations t

[2020-09-23 21:20] BitPhinix commented on #25
Hi @beorn,

You are correct, slate-yjs just translates the events. It would cause an issue if the (local) yjs state would change while applying operations. The thing that saves us, in this case, is the fact that js is a single threaded language so you don't end up in a state where the yjs doc is changed while you type something which would cause the need to apply events. If the yjs doc changes aft

[2020-09-23 22:02] beorn commented on #25
Ok, but what about the case where the changes from two different sources are delivered to your local editor out-of-order?  I.e., the logical time order is different from the delivery time order.

[2020-09-24 08:31] BitPhinix commented on #25
If multiple changes are delivered from multiple sources yjs will transform them to the equivalent in the current state. Since the slate doc and the yjs doc always reflect the same state, the "transformed" yjs events will always be the equivalent to the action performed by the other user in the current document state (even if they arrive out of order).

[2020-09-24 08:35] BitPhinix commented on #24
Hi @amilich,

I'm really busy at the moment so it might take a while until I can take a look at this. As a "workaround" you can use something along the lines of

[code]

as the initial state.

[2020-09-24 12:33] #25 closed

[2020-10-09 23:33] amilich commented on #24
Got it - thanks for getting back to me during a busy time. I tried setting text to empty string, but now see
[code]
which isn't unexpected given that the YJS doc is initialized as empty.

Any idea why this initialization is causing trouble?

[2020-10-10 01:10] amilich commented on #24
I ended up trying to port the code in server.ts to run in the browser, and I see:
[code]

any knowledge of why? I've tried inserting into the Y.Array and that seems fine, but calling toSyncDoc fails.

[2020-10-10 04:00] amilich commented on #24
Was able to figure it out - seems like adding initial content to the document is possible, but only after the component has mounted - otherwise, the YJS doc and slate `value` may be out of sync.

[2020-10-10 04:00] #24 closed

[2020-10-13 10:20] ovionlogis opened #45 "Strange behavior offline + online editing"
Strange behavior when editing text online and offline at the same time
I ran this demo https://github.com/BitPhinix/slate-yjs-example
![Screen Recording 2020-10-13 at 17 09 04](https://user-images.githubusercontent.com/2921716/95848308-14bb7c00-0d78-11eb-80f7-cc22cbce4494.gif)

[2020-10-13 19:56] BitPhinix commented on #45
Fixed in slate-yjs 0.1.3

[2020-10-14 03:35] ovionlogis commented on #45
@BitPhinix I tested the demo again, the error repeats exactly the same

[2020-10-14 07:28] BitPhinix commented on #45
Hmm weird, I'll recheck this again asap.

[2020-10-24 17:51] Yshmeel commented on #45
This bug also occurs when you change selected mark at some part of text and refresh page, weird thing...

[2020-10-25 16:48] BitPhinix commented on #45
I took a look at this today and the root cause is the way the `split_node` operation is translated.

Let's say we have 2 clients with the same state (a paragraph with the text hello world):
`{type: "paragraph", children: [{ text: "hello world"}]}`

Client 1 performs a split_node operation inside the paragraph with offset 5 this results in the following operations:
- remove text " world" from [0, 0

[2020-11-17 21:05] BitPhinix commented on #45
Closing this issue because this is the intended behavior. For more details refer to: https://discuss.yjs.dev/t/modeling-slate-split-node-behavior-in-yjs/283/2

[2020-11-17 21:05] #45 closed

[2020-12-08 08:25] wong2 opened #92 "Simplify server side setup"
Hi, thanks for the excellent library!
Usage of this library on client side is pretty simple, but the server side setup is pretty scary: https://github.com/BitPhinix/slate-yjs-example/blob/master/server/server.ts
It seems this is a modification of version of y-websocket code? Hope we can just import or extend y-websocket instead of modify it's source code

[2020-12-30 21:42] github-actions[bot] opened #107 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-30 22:10] BitPhinix commented on #107
The current version is on npm, will fix this tomorrow 👍

[2020-12-31 09:33] BitPhinix commented on #107
CI is now passing. The reason why it failed was that the checkout_node action creates a `.npmrc` which is picked up by the semantic-release action. The created .npmrc expects the npm access token to be named node_auth_token and not npm_token like in the semantic release docs.

[2020-12-31 09:33] #107 closed

[2021-01-04 04:56] iSplasher opened #119 "Error: Unexpected content type in insert operation"
Hello,
I'm trying to set up a simple project following the demo but this line of code is failing with **Error: Unexpected content type in insert operation**
[code]

Here's my default value
[code]

Let me know if you need anything else.

Using latest slate-js and latest yjs

[2021-01-05 01:36] iSplasher commented on #119
I did some debugging, and it seems like deep inside Yjs' insert operation:
[code]
This part evaluates to false `if (c instanceof AbstractType) {` even though `c` should be a YMap which extends AbstractType. Not really sure what's going on here.

[2021-01-05 02:30] iSplasher commented on #119
A simpler test:
[code]

Again, not sure why it would fail like that. Maybe it's about mixing commonjs and esm modules? I really don't know.

[2021-01-05 03:22] iSplasher commented on #119
I ended up copying the src folder directly into my project so it could be transpiled the same way my own code is, and it worked. So i'm guessing it has to do with something babel or webpack is doing to cause it to fail like that. Not really sure what you as a library author can do against that, so i'll close the issue.

[2021-01-06 15:49] BitPhinix commented on #119
Hi @iSplasher,

Sorry for the late reply. I did some digging into this and the easy way to fix it is to add yjs as a peer dependency and not as a normal one. I'll create a pr for it this weekend (really busy right now)

[2021-01-16 15:46] BitPhinix commented on #119
Should be fixed in v1.0.0

[2021-01-16 15:46] #119 closed

[2021-01-16 15:49] BitPhinix commented on #92
Hi @wong2,

Sorry for taking so long. With version 1.0.0 no custom server code is necessary anymore. I updated [slate-yjs-example](https://github.com/BitPhinix/slate-yjs-example) to not include custom server code anymore: https://github.com/BitPhinix/slate-yjs-example/blob/master/src/Client.tsx.

Hope this solves your issue 🤗

[2021-01-16 15:49] #92 closed

[2021-01-16 16:20] wong2 commented on #92
Awesome!

[2021-01-17 11:46] BitPhinix commented on #24
Hi @amilich,

This should be solved with the 1.0.0 release. Slate-yjs will now overwrite the slate value with the content inside the yjs shared type on load.

[2021-01-21 11:39] cngeru opened #131 "Question : Using Firebase Realtime DB as backend"
Is it possible to use the firebase realtime database as the backend ?

[2021-01-21 13:11] renovate[bot] opened #132 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:15] #132 closed

[2021-01-23 08:23] BitPhinix commented on #131
Hi @cngeru,

Since slate-yjs is completely completely independent from the server side implementation it in fact can be used with any Backend YJs can be used with. I haven't yet tried using a firebase realtime db but it seems to be possible: https://github.com/yjs/yjs/issues/189

[2021-01-23 08:23] #131 closed

[2021-03-09 02:59] tmathew0309 opened #175 "Use React 16 instead of 17"
Is it possible to declare a peerDependency on React 16 instead of 17? Don't think you actually use anything 17 specific in this repo and we haven't upgraded to React 17 yet but want to be able to use this.

[2021-03-28 20:25] dmonad opened #188 "`delta.insert.join` is broken"
Hi,

I just realized that I broke your editor binding in my latest Yjs release.

`Y.Text` operates on [Quill Deltas](https://quilljs.com/docs/delta/). `event.delta` is a well-formatted Quill Delta. I realized that `event.changes.delta` is an Array Delta (an adaptation of the Quill Delta that operates on Arrays instead of Strings).

I fixed this issue and made `event.changes.delta` a proper Quill d

[2021-03-30 08:40] BitPhinix commented on #188
Hi @dmonad,

Thank you so much for reporting and investigating this issue. I'm currently on a work trip and have been working on some code cleanup which will resolve this anyway.

Will push the fix on the weekend.

[2021-04-05 18:36] BitPhinix commented on #188
Will be fixed with https://github.com/BitPhinix/slate-yjs/issues/188

[2021-04-05 18:36] #188 closed

[2021-04-08 17:21] aliak00 opened #192 "I can't seem to start a collaborative session in offline mode and go online after the fact."
Hi, I'm trying to use slate-yjs to see how things can work, and I'm using y-websocket to test things out. I'm having trouble with the initial setup of the editor+slate-yjs. The problem seems to be that `withYjs` requires a `sharedType` and while `shareType` is ok with  a `[]` initial value, the slate editor is not (i.e. an empty document is actually a single block with an empty text node).

So the

[2021-04-08 17:33] BitPhinix commented on #192
Hi Ali,

you can solve this 2 ways, either by initializing the document server-side with a custom y-websocket server like here: https://github.com/BitPhinix/slate-yjs-example/blob/306364182f24414503c08d0fdbb412f649417696/server/server.ts (the code is using an old version of slate-yjs but it should be almost identical)

Or, in a very hacky way client-side like in the example project here: https://g

[2021-04-08 17:39] BitPhinix commented on #192
Sorry, didn't read the offline part in the title. Not sure about that one tbh, you should ask about providing an initial value for offline clients in https://discuss.yjs.dev/ (Kevin, the creator of yjs is super active there and hopefully can answer your question)

[2021-04-12 10:08] #192 closed

[2021-04-12 12:20] aliak00 commented on #192
Ah ok. Thanks! Will probably ask there then 🙇

[2021-04-12 12:27] aliak00 commented on #192
For reference: https://discuss.yjs.dev/t/initial-offline-value-of-a-shared-document/465

[2021-04-20 01:45] tmathew0309 opened #202 "Restore toSlateOps and applySlateOps in 2.0.0"
Hi @BitPhinix is it possible to still keep around the toSlateOps and applySlateOps functions in 2.0.0? I use this library but have a different plugin system and need to convert / apply slate ops myself. Does the new design still allow you to extract out these functions?

[2021-04-20 07:49] BitPhinix commented on #202
Hi @tmathew0309,

Would exposing https://github.com/BitPhinix/slate-yjs/blob/1c865940037a5aa96ed52631a13588fdabd0dd8e/src/applyToYjs/index.ts#L42 and https://github.com/BitPhinix/slate-yjs/blob/1c865940037a5aa96ed52631a13588fdabd0dd8e/src/applyToSlate/index.ts#L33 help in your use case? I've removed the "plain" op conversion because it results in "incomplete" ops (missing fields for the history)

[2021-04-22 23:37] tmathew0309 commented on #202
exposing `applySlateOps` would certainly help. Unfortunately I can't use `applyYjsEvents` as is because our current code is designed to keep a level of abstraction between the editor and the collaborative websocket. Basically our collaboration api just exposes an interface to send "local" slate operations and receive "remote" slate operations. It tries to hide away any details of the underlying CR

[2021-04-25 18:14] BitPhinix commented on #202
It definitely is possible, but it requires some more work. I'm really busy at the moment but will get back to adding this functionality in the future. In the meantime, you can definitely still use slate-yjs 1.0, but you have to keep in mind that it isn't compatible with the latest YJs version due to changes in the event delta (https://github.com/BitPhinix/slate-yjs/issues/188)

[2021-04-27 15:23] SamDuvall opened #205 "Prevent y-websocket initial value from entering slate-history undos"
I'm running into an issue where loading the initial value from `y-websocket` is adding an operation into undos from `slate-history` that I don't want. Having that initial value operation in `editor.history` allows the user to click undo and wipe out the document, which is not desirable.

I'm creating my editor like `slate-yjs-example`
[code]

I added a hack to pop off the initial value operation f

[2021-04-28 10:00] BitPhinix commented on #205
Hi @SamDuvall,

Another way you could solve this is by wrapping `editor.applyOperation` with a handler that checks if `YjsEditor.isRemote(editor)` is true and then wrapping the next call with `HistoryEditor.withoutSaving`

I haven't actually tested it, but it should work 😄

[2021-04-28 15:43] SamDuvall commented on #205
@BitPhinix, thank you. That was an excellent suggestion and worked beautifully.

I can't think of a good reason why one would want remote changes to creep into their local history. I wish there was an easy way to add this to `slate-jys`, but it feels wrong to require `slate-history` in `slate-yjs` even though I bet a large majority of people using `slate-yjs` use `slate-history` as well. Below is

[2021-04-28 23:22] BitPhinix commented on #205
Awesome, glad I could help!

I haven't yet added this to `slate-yjs` because I'm planning to add another history handling plugin based on `Y.UndoManager` to have proper Yjs history support. I'm really busy at the moment but will get back to it in the coming months

[2021-04-28 23:23] #205 closed

[2021-05-04 09:53] gaetan-wap opened #209 "How would you test ?"
First, thanks for making this project.

I have been using slate-yjs and [udecode/slate-plugins](https://github.com/udecode/slate-plugins) with custom code.

I am experiencing weird behaviours from time to time.

I have a hard time reproducing these bugs locally and deterministically (as someone would expect with a distributed system).

How would you test such an editor ?

[2021-05-05 06:43] kashyaparjun opened #210 "Slate editor initial sync error"
Hi,

I have a slate-yjs editor which gets fed content from the server side. At the server side, I insert the content to document like this `doc.getArray('content').insert(0, JSON.parse(content));`. On the front end, the yjs part is syncing the content, I can also see it in the sharedType array, but the slate editor value doesn't change. I cannot call toSharedType on the frontend as this would dupl

[2021-05-05 06:50] BitPhinix commented on #210
Hi @kashyaparjun,

Inserting the content like this won't work because `slate-yjs` expects the slate doc to be represented as/converted into nested Yjs types. You can use the exposed `toSharedType` helper to do so

Hope this helps, let me know if you need help with anything else 😄

[2021-05-05 06:58] kashyaparjun commented on #210
Do I have to use `toSharedType` even when I'm loading the content on the server side? I did try using it in the 'sync' callback and it duplicated the content already present. It'd be great if you can share any implementation that you have of this.

[2021-05-06 05:33] kashyaparjun commented on #210
The issue was solved by adding slate-yjs to the server and using the `toSharedType` function to add content to the yjs doc.

Thank you @BitPhinix

[2021-05-06 05:33] #210 closed

[2021-05-07 08:55] BitPhinix commented on #209
Hi @gaetan-wap,

Testing collaborative editors is **really hard**. The best approach would probably be spinning up multiple collaborative editor instances and fuzzing them using a self-build fuzzer.

[2021-05-17 14:40] devgeni opened #226 "[Question] Pressing backspace moves the cursor of another user"
I integrated slate-yjs with [@udecode/slate-plugins](https://github.com/udecode/slate-plugins) and the problem I've encountered is that when one user presses backspace or replaces some selected text the cursor of another user is moved to the position of the first user's cursor. What could be the problem?

[2021-05-17 18:59] devgeni commented on #226
Here is the short video of this issue:

https://devgeni.github.io/slate-yjs-udecode.mp4

[2021-05-25 10:33] nemanja-tosic opened #233 "Update y-protocols to 1.0.5"
y-protocols has added the conditional exports pattern in 1.0.5. We need this as we use slate-yjs on both node and on the frontend.

[2021-05-26 14:50] skokenes commented on #226
@devgeni see the fix linked in the PR above

[2021-05-27 15:13] BitPhinix commented on #233
Hi @nemanja-tosic,

Thanks for this issue, just create a pr for it and I'll merge it with the next release 👍 . I can do it as well but will probably take until the weekend

[2021-05-28 13:12] skokenes opened #237 "Local selections blocked while remote user is making changes"
When changes are being applied from a remote user, those updates will sometimes block the local user from making text selections using their mouse. During a multiplayer collaborative editing session with 4 people, we saw this happen fairly frequently. The user selection either wouldn't apply at all, or apply in a weird, unexpected location.

Here is a video showing an exaggerated version of the pr

[2021-05-28 15:18] BitPhinix commented on #237
Not sure why this is happening tbh, but I can look into it. Can you share the component shown in the example?

[2021-05-28 17:04] skokenes commented on #237
Sure, I'll work up a shareable, reproducible example of the component in the video above and get back to you

[2021-05-30 10:29] #202 closed

[2021-05-30 10:29] #226 closed

[2021-05-30 12:08] BitPhinix commented on #233
Released with version 2.1.0

[2021-05-30 12:08] #233 closed

[2021-06-01 13:59] chasefarmer2808 opened #248 "Operations are being applied twice"
When a character is typed into the editor, there are checks in place to determine whether that insertion was done by the local client or a remote one.  This is so the sharedType observeDeep listener does not apply a change to a local client that the same local client just made.  However, in version 2 or greater, I am seeing this exact issue happening.  After a little investigation, I've verified t

[2021-06-01 14:07] BitPhinix commented on #248
Hi @chasefarmer2808,

Thanks for raising this issue. Does this happen to you only in your dev setup or also on the hosted example? I currently can't reproduce this on my side. Something similar happend to me with slates internal normalization weak map and it was related to me using incorrect linked packages during development, I suspect something like this might be happening here as well

[2021-06-01 14:54] chasefarmer2808 commented on #248
Hello @BitPhinix

Yes, I was able to reproduce in the hosted example.  I added the following SlateJS plugin:
[code]

And appended it to the SlateJS initialization in `Client.tsx`.  Then, I am able to see the `console.log` being hit twice.  This happens in one browser tab, and multiple browser tabs with the same room slug.

[2021-06-04 07:41] #209 closed

[2021-06-04 21:32] skokenes commented on #237
Hey @BitPhinix sorry for the delay, here is a reproducible example you can run:
https://github.com/skokenes/slate-yjs-example/tree/selection-bug

Its a little hard to reproduce in the sense that you need to attempt several selections to see it happen, as it happens intermittently. Here is a video of the selection screwing up

https://user-images.githubusercontent.com/5554373/120864375-23021680-c55

[2021-06-04 22:49] skokenes commented on #237
I've updated the branch above with another button you can use to simulate another user's cursor moving. This makes it REALLY easy to reproduce the issue.
In this video, I have the right editor auto moving its cursor back and forth on the first line.
Then in the left editor, I try moving my cursor using the arrow keys back and forth between line 1 and 2. My cursor frequently gets stuck in line 1. I

[2021-07-04 21:47] BitPhinix commented on #248
I've investigated this a bit further but I'm unable to reproduce this behavior. If the operations are applied twice it should be fairly obvious since that would most likely result in an out-of-sync state between the different clients.

Could it be that the `console.log` statement is being called by multiple different clients on the same page? E.g. if you have 2 different clients it should be calle

[2021-07-04 21:58] #175 closed

[2021-07-05 10:25] bryanph commented on #237
A possible pointer: slate-yjs calls slate's `Transforms.insertText` for an insert operation, see https://github.com/BitPhinix/slate-yjs/blob/e61db0503a152406bbe213390d641525d53cd9c3/src/applyToSlate/textEvent.ts#L39
which when looking at the implementation in slate also performs some selection manipulation, see https://github.com/ianstormtaylor/slate/blob/51bfb40fadb7c6f0050f19232bfe65cc760a86ff/p

[2021-07-05 10:30] BitPhinix commented on #237
The latest version of `slate-yjs` actually doesn't anymore and just translates it into the slate operation directly: https://github.com/BitPhinix/slate-yjs/blob/master/src/applyToSlate/textEvent.ts. I think this might be related to how slate updates the selection on re-render but I'm not entirely sure about it currently. I'll look into this more in the following days

[2021-07-06 20:13] tmathew0309 commented on #175
Hi @BitPhinix can we release a version with this fix? Looks like the latest 2.2.0 version doesn't have this. Thanks!

[2021-07-06 20:57] BitPhinix commented on #175
Done 👍

[2021-07-07 20:01] chasefarmer2808 commented on #248
Thanks @BitPhinix.  I believe something is out of sync on my end.  Specifically when the library checks for `isLocal` and `isRemote`.  I've modified the `withYjs` function within `yjsEditor.ts` as such:
[code]
After the first operation is applied, this `onChange` handler is called and it logs the following:
[code]
Then, the second (exact same) operation is applied and this `onChange` handler gets

[2021-07-12 19:11] BitPhinix commented on #248
Hi @chasefarmer2808,

can you publish a repo with a reproducible example of this issue?

Yes there is/was (isLocal was removed in the 3.0.0 release). `isLocal` was meant to keep track of operations we apply to the yjs document so we can distinguish between 'our' and external local modifications of the yjs document. `isRemote` is used to determine whether slate operations are caused by yjs events (

[2021-07-12 19:54] chasefarmer2808 commented on #248
I ran things with 3.0.0 and looks like the problem isn't happening anymore!

[2021-07-12 19:56] BitPhinix commented on #248
Hmm interesting, still not sure what exactly was the issue here but good thing that it's solved now 👍

[2021-07-12 20:03] chasefarmer2808 commented on #248
Perhaps I spoke too soon.  Now it seems only remote operations are being applied twice.  Before it was local and remote.

[2021-07-12 20:05] chasefarmer2808 commented on #248
I will try and post a repo that can reproduce the issue.

[2021-07-13 13:08] creativefctr opened #286 "Awareness is copied on independent instances inside one document"
Hi,
I am using the awareness option with a Y.js document that has multiple sub documents for multiple Slate instances.
Awareness is registered on all instances. As you can see, the cursor from one sub doc of the main doc object is also applied on other instances, which is wrong!

![image](https://user-images.githubusercontent.com/9378281/125457236-2df397c2-7187-4b96-9334-539662e8d82a.png)

the doc

[2021-07-13 19:33] BitPhinix commented on #286
Hi @creativefctr,

the cursors are synced using awareness (which is bound to the document and not the shared type) so this is to be expected for now.

Since a single user can (under normal circumstances) have only a single selection at a time you could as a workaround store some sort of identifier (like the shared type key) on editor focus in the awareness local state and use that to figure out wh

[2021-07-14 07:30] creativefctr commented on #286
@BitPhinix Technically speaking, the shared type is a unique node in the document, so per-document awareness should also correctly detect the absolute path of that specific shared type object relative to the whole document.
Anyway, I was thinking about using JavaScript's Proxy Object as a workaround to decorate the awareness object so that the changes are only routed to the currently focused edito

[2021-07-16 09:10] Hideman85 opened #287 "SlatePlugin implementation"
I'm just starting implementing Yjs into my editor, and I'm using SlatePlugin modeling, so I just started looking at your sample and did a first draft of a SlatePlugin (gonna update it if needed).

I just have one feedback related to `useCursor` could it be simplified by using only `(sharedType, provider)` as parameters instead of the full editor? I mean, I checked out the code and nothing is relat

[2021-07-16 15:13] BitPhinix commented on #287
Hi @Hideman85,

thanks so much for this/implementation. Sadly I don't think it's a good idea to integrate with 3rd party plugin systems in this repository since that will most likely will result in a lot of operational overhead in the future.

IMO this should live in a separate repository/package. I'd be happy to add it to the readme if you publish it.

[2021-07-16 16:22] Hideman85 commented on #287
I think we could create a gist and link it and I agree with you this is better to not add the extra deps for "nothing".

[2021-07-18 12:29] Hideman85 opened #288 "Redlining/Versioning/Delta as Slate decorator"
I'm wondering if there is a plan for implementing the visualisation of the delta via Slate decorator?

I look over the code and the doc, I probably found a way to convert Yjs position to Slate position as a beginning of something.

I try to find how to get the delta on my shareType, but I don't know yet what is the best way, either I could use `sharedType.observeDeep` or try to build a snapshot sy

[2021-07-27 12:28] BitPhinix commented on #287
I'll convert this into a discussion to keep as a reference

[2021-07-27 12:28] #287 closed

[2021-08-10 15:20] chasefarmer2808 commented on #248
@BitPhinix Here is a repo where you can reproduce the issue.  You will need a yjs websocket server running on localhost:1234.  Run with `yarn start`.  Once the app opens in your browser, open the dev console.  Type some text after the "hello" and you will see only one console statement for each operation, as expected.  Next, open another tab or browser and go to localhost:3000.  Type some text in

[2021-08-12 03:14] 108EAA0A opened #292 "Update slate to 0.65.3"
slate has fixed [IME bug](https://github.com/ianstormtaylor/slate/pull/4157) in 0.65.3. We need this as we use slate-yjs.

[2021-08-23 16:49] nemanja-tosic commented on #248
I see the duplicate operations in this example, but i can't figure out why they appear. If slate was trying to apply the same insert_text op twice, it would insert two characters, but instead it has the correct state as i type. It's as if the updates are applied to the wrong instance of the editor, a detached one, which would indicate a problem with the example rather than the library.

At any rat

[2021-09-06 09:52] BitPhinix opened #294 "Cursor decorator performance"
### Discussed in https://github.com/BitPhinix/slate-yjs/discussions/293

<div type='discussions-op-text'>

<sup>Originally posted by **bjarkih** August 18, 2021</sup>
Hi all, and thanks for great work on Slate Yjs!

I have a question around the performance of the cursor decorator provided by the sample `useCursors` implementation. When editing a document that another user is editing at the same ti

[2021-09-06 09:55] BitPhinix opened #295 "Yjs based history plugin"
slate-yjs should have a yjs backed history plugin to allow filtering the undo stack based on change origin without potentially causing editor crashes

[2021-09-06 09:57] BitPhinix opened #296 "Linearising document content"
Assuming you have the text `"Hello World"`, where `"Hello"` is bold and `"World"` is bold and italic:

[code]

You can represent this text object using a [Y.Text](https://docs.yjs.dev/api/shared-types/y.text) and formatting attributes (this is basically equivalent to the idea of `marks`):

[code]

Or using the delta notation:

[code]

A formatting attribute can be any JSON-encodable key-value pair

[2021-09-06 10:00] BitPhinix opened #297 "Relative location api"
Slate-Yjs should expose simple utils for translating slate locations into [relative positions](https://github.com/yjs/yjs#relative-positions) and back to allow e.g. the creation of inline comment plugins out of the box

[2021-09-06 10:40] nemanja-tosic commented on #295
This would be awesome. We're looking into integrating with yjs undo right now as part of our collaboration plugin (slate-yjs with a custom socketio provider). Happy to help if you tell me what you had in mind!

[2021-09-06 11:11] nemanja-tosic commented on #294
Left a comment in the discussion with our approach: https://github.com/BitPhinix/slate-yjs/discussions/293#discussioncomment-1285673.

[2021-09-06 11:30] BitPhinix commented on #295
I haven't yet tried prototyping a concrete solution, so I'm not sure if this is going to work in the end. The idea is to write a custom implementation based on the https://github.com/yjs/yjs/blob/main/src/utils/UndoManager.js which also supports putting selections on the undo/redo stack. We can store selections on the stack using the relative position API and the changes just like the undomanager

[2021-09-06 13:23] dylans commented on #292
As a note, 0.66.0 should get released this week which has additional IME (and many other) fixes, https://github.com/ianstormtaylor/slate/pull/4436

[2021-09-06 13:33] BitPhinix commented on #292
I'll just update it to latest 👍 Btw - the current version should work with the latest slate version as well. But you probably will run into typing issues. Haven't tested this yet but I can't image why it should't

[2021-09-06 13:38] nemanja-tosic commented on #292
We use slate-yjs with 0.65.3 without issues.

[2021-09-14 05:11] pubuzhixing8 opened #298 "Consider removing the React dependency?"
Hey,

Thank you for your contribution. We also chose slate + yjs + slate-yjs as the technical solution for collaborative editing, and our development work has been basically completed.
But our front-end framework is Angular, so we developed an Angular-based view layer [slate-angular](https://github.com/worktile/slate-angular) based on slate. Fortunately, the logic of slate-yjs is also adapted to s

[2021-09-14 05:43] pubuzhixing8 opened #299 "「Bug」relativePosition and aboslutePosition transform problem"
### Bug description

![](https://user-images.githubusercontent.com/18631804/133199715-af816952-f520-49eb-a1fe-01074f583d33.gif)

The cursor of user Adrain Frami was incorrectly converted, and it should be positioned at the last position of the second paragraph。

### Cause

We analyzed the reason for this problem. Due to the operation of slate to yjs, the original yjs structure data was deleted (th

[2021-09-15 13:15] BitPhinix commented on #299
Hi @pubuzhixing8,

Thanks for reporting this issue!

You are correct that this is related to the translation of the `split-node` operations. It's currently out of the scope for the initial v4 release but this is definitely something that should be fixed in the future.

[2021-09-15 13:26] BitPhinix commented on #298
Hi @pubuzhixing8,

Awesome to hear that you are using slate-yjs in production. Your help would definitely be very appreciated! Sadly we currently rely on the react peer-dependency for cursors, but with the rewrite in v4 we could clean up the API a bit and might be able to remove that dependency.

I wasn't aware that there are different view layer implementations of slate, thanks for bringing that

[2021-09-20 14:18] Fibs7000 commented on #295
having the same problem I managed to connect slate-yjs to slate history with just one line added... (its a patch but it works)

In the yjsEditor.js file in the withYjs Method, just replace

[code]

with this
[code]

and add this line on top
[code]

this just does not add the remote updates into the history

[2021-09-23 09:06] vatz1905 opened #301 "Use slate-yjs with Plate (slate-plugins)"
Is there a way to use  slate-yjs with Plate ? or we must have a "plate-yjs" binding?

[2021-09-24 15:59] BitPhinix commented on #301
I personally haven't used plate yet but I'm certain it is possible. https://github.com/BitPhinix/slate-yjs/discussions/291 might be helpful.

[2021-09-24 15:59] #301 closed

[2021-09-26 16:31] vatz1905 commented on #301
Thank you

בתאריך יום ו׳, 24 בספט׳ 2021 ב-18:59 מאת Eric Meier <
***@***.***>:

[2021-10-07 14:08] Hideman85 opened #303 "Please export slateYjsSymbol this is required for Y.UndoManager"
As title said, Please export slateYjsSymbol this is required for Y.UndoManager as trackedOrigins to record the user action

[2021-10-08 14:15] skokenes opened #304 "Allow custom origins?"
Does this plugin support using custom origins when applying slate ops?

It looks like the underlying function supports it: https://github.com/BitPhinix/slate-yjs/blob/master/src/applyToYjs/index.ts#L39

However, in the plugin it looks like the origin is hardcoded to the slateYjsSymbol https://github.com/BitPhinix/slate-yjs/blob/master/src/plugin/yjsEditor.ts#L77-L81

Is there a way to override thi

[2021-10-09 09:26] nemanja-tosic commented on #304
It was not implemented as part of the initial work. What's there was only to support differentiating between yjs ops that came from the outside and those coming from the editor. I'm happy to do another PR if you give me a bit more info about the use case though.

[2021-10-09 15:03] nemanja-tosic commented on #298
Even with the removed dependency, it would be a good idea for this repo to provide for react/angular/other specific implementations.

I would say a monorepo with multiple "adapter" packages would do the trick for that - have a core slate-yjs repo that only does slate-yjs stuff, slate-yjs-react for the addition of the react hooks and others, etc... It should be relatively simple to do, and if a maj

[2021-10-11 09:49] BitPhinix commented on #298
My goal for v4 is to make cursors entirely platform-independent, so just have a `CursorPlugin.decorate` utility which returns a function you can pass to either `slate-react` or `slate-angular` etc. (maybe memorized so you don't even have to useMemo in react.

Btw, so sorry for taking so long on v4 but it's hard to prioritize working on this rn. There are some awesome changes coming including an al

[2021-10-11 10:08] Hideman85 commented on #298
Looking forward, it sounds awesome! It would be nice also to consider a simple conversion script for production data.
Do you have a branch where you push your current progress? You could also attract some community members doing a part like cursor for angular ;)

[2021-10-13 17:12] RBSUS opened #305 "NPM error: Could not resolve peer dependency slate."
I'm need to install slate-yjs but keep getting this error

![image](https://user-images.githubusercontent.com/68548194/137180755-8c3c2676-f3f1-4ff1-9f8d-70ee309e6f5c.png)

Any help would be greatly appreciated.

[2021-10-15 18:01] raphael10-collab opened #306 "Issues in substituing `websocket` with `y-dat`"
I described the problem here: https://github.com/BitPhinix/slate-yjs-example/issues/88 but it is actually an `slate-yjs` issue.

I'm trying to substitute `websocket` with `y-dat` but I'm having some troubles... :

This is what I've done so far, but getting errors:

In https://github.com/BitPhinix/slate-yjs-example/blob/master/src/Client.tsx :

    import styled from "@emotion/styled";
    import R

[2021-10-16 13:19] raphael10-collab commented on #306
@BitPhinix May I ask you what you think we could do to solve these issues? https://github.com/yjs/y-dat/issues/5#issuecomment-944786870

[2021-10-20 10:46] nemanja-tosic commented on #303
I'll do a PR for this today.

[2021-11-01 18:52] BitPhinix commented on #303
V4 will allow you to define custom origins (a draft implementation is already present on the next branch). Will close this for now in favor of https://github.com/BitPhinix/slate-yjs/issues/304

[2021-11-01 18:52] #303 closed

[2021-11-08 16:27] skokenes commented on #304
The use case we have is that we have servers that keep track of which yjs document updates came from which users via origins. If all clients have the same origin, we can't track this information.

[2021-11-11 13:03] ibaggu commented on #305
Same here

[2021-11-11 13:14] RBSUS commented on #305
try adding --force after your npm install slate-yjs

[2021-11-12 19:42] ibaggu commented on #305
Thanks @RBSUS , this helped

[2021-11-22 12:44] creativefctr opened #311 "Problem when pressing enter"
Hi,
This section was already working fine, but recently, when I press enter to split text or create a new paragraph, I get this error:

Uncaught (in promise) Error: Unexpected content type in insert operation

![image](https://user-images.githubusercontent.com/9378281/142861734-0efb81a2-6646-43d9-8858-db03d140b3da.png)

After the error, Slate freezes and you can no longer type or edit anything.

s

[2021-11-29 10:19] BitPhinix commented on #311
You probably have multiple instances/versions of yjs loaded. Try `yarn why yjs` or `yarn dedupe` or add a workspace level resolution to force a specific version.

[2021-11-29 13:30] creativefctr commented on #311
@BitPhinix Thanks. Yes, that was the issue.

[2021-11-29 13:30] #311 closed

[2021-12-20 13:08] #305 closed

[2022-01-23 18:01] Aumkar opened #313 "CPU hits 100% when typing fast on large document"
In previous week I started evaluating Y.js and its integration with slate.js, because of facing some OOM and performance issues with slate-collaborative.

So first thing I wanted to is to benchmark Y.js for my use case.
Libraries I’m using are:
- slate-yjs
- y-websocket

I tried to create some large data by hand, so that the JSON created for slate.js object is around 800KB.
I was able to collabora

[2022-01-25 09:54] BitPhinix commented on #313
Hard to pin-point what exactly is causing this without having the exact example, but looking at the dump it looks like it's mostly react reconciliating the dom/slate normalizing and not slate-yjs that is causing the massive CPU usage (which aligns with the benchmarks I've done, the thing slowing down large docs is slate(-react) itself and not slate-yjs)

[2022-01-26 00:53] Aumkar commented on #313
Thanks a lot @BitPhinix for quick turn around!
Confirming that slate-yjs is not causing this issue. I'm able to reproduce it even without using `withYjs` and `withCursor` wrappers for the same test data.

[2022-01-26 00:53] #313 closed

[2022-02-02 07:04] karthikcodes6 opened #315 "How to save document to database"
I see there is an onChange event in the server-side code. But I'm not sure how to parse the Ydoc to slate JSON format.

[code]

Any thoughts?

[2022-02-02 15:16] #248 closed

[2022-02-02 15:18] BitPhinix commented on #304
Supported in the next brach beta release.

[2022-02-02 15:18] #304 closed

[2022-02-02 15:19] BitPhinix commented on #297
Supported in the next brach beta release.

[2022-02-02 15:19] #297 closed

[2022-02-02 15:19] BitPhinix commented on #296
Supported in the next brach beta release.

[2022-02-02 15:19] #296 closed

[2022-02-02 15:19] BitPhinix commented on #295
Supported in the next brach beta release.

[2022-02-02 15:19] #295 closed

[2022-02-02 15:20] BitPhinix commented on #292
Supported in the next branch beta release.

[2022-02-02 15:20] #292 closed

[2022-02-02 15:20] BitPhinix commented on #294
Next has a new approach for a cursor plugin solving this issue

[2022-02-02 15:20] #294 closed

[2022-02-02 15:21] BitPhinix commented on #298
Next is split into core and react, core contains all frontend independent logic/utils and doesn't have a react dependency.

[2022-02-02 15:21] #298 closed

[2022-02-02 15:22] BitPhinix commented on #286
Next allows the customization of the cursor state storage key to solve this issue.

[2022-02-02 15:22] #286 closed

[2022-02-03 14:28] karthikcodes6 opened #317 "Data duplication on server restart"
Data duplication while server restarting.

Steps to reproduce:
1. Type something in the editor.
2. Restart the server now.
3. In the callback onLoadDocument the document comes as empty and again the data get populated to the editor.

[code]

[2022-02-16 06:55] molink-huseong opened #321 "When insert_text and set_selection operation happen at the same time, set_selection doesn't work."
Hi, I need to use slate editor for korean.
The biggest difference between Korean and English input is the existence of Processing.
When we press the keyboard key 'a', slate operation happen 'insert_text, a'.
But in order to type '가', we have to press 'ㄱ' and 'ㅏ'. In this level, slate doesn't know the input end.
User can input 'ㄱ' for '각', 'ㄴ' for '간'.
So, slate doesn't issue operation 'insert_text

[2022-02-16 07:42] molink-huseong commented on #321
I found that the 'next' version of slate-yjs doesn't happen this issue.

[2022-02-16 09:30] sennpang opened #322 "Inconsistent client performance"
https://user-images.githubusercontent.com/16861647/154235229-6eb863bb-adc2-4d42-a308-4894455311cf.mov

[2022-02-16 09:44] BitPhinix commented on #322
https://github.com/udecode/plate/issues/1380 is also caused by this

[2022-02-18 03:23] karthikcodes6 opened #323 "Cannot find a descendant at path [1,0] in node: {"children":"
I'm recently getting this error and the whole app crashes. Any idea what would be the root cause?

[2022-02-23 18:26] molink-huseong commented on #288
Hi, I'm wondering about this too.
I want to implement versioning system with slate yjs but too hard.

[2022-03-03 10:29] bjarkih commented on #295
Thanks @BitPhinix 👏🏻 Are there any pre-built versions of the beta release, or just build from source for now?

[2022-03-04 00:31] cmmartin commented on #323
I also get this occasionally and it seems to fix itself with a refresh 🤷‍♂️

[2022-03-05 07:01] #321 closed

[2022-03-05 18:03] cmmartin commented on #323
@karthikcodes6 In my case, this was caused by setting `autoFocus` on the `Editable` component from Slate. Setting it to false seems to have solved the issue.

I think `autoFocus` causes slate to try to focus the editor before the yjs provider has synced. It's basically a race condition

[2022-03-06 14:41] BitPhinix commented on #322
Fixed in the latest release, core now also has a way more robust test suite so something like this shouldn't happen again 🙏

[2022-03-06 14:41] #322 closed

[2022-03-13 11:01] ilya2204 opened #326 "incorrect selection after redo"
https://user-images.githubusercontent.com/52297646/158056425-bfbdfe39-9faf-4287-8a0c-9bf4f8b75912.mp4

[2022-03-20 16:59] BitPhinix commented on #326
This seems to be caused by https://github.com/BitPhinix/slate-yjs/issues/326, waiting on a reply to https://github.com/BitPhinix/slate-yjs/issues/326 in order to fix it

[2022-03-21 16:46] #326 closed

[2022-03-30 15:53] productivityindustries opened #328 "Can't compile against Yjs 13.5.28+"
Hello, I'm including in my project both slate-yjs and yjs as dependencies:
[code]

everything worked smoothly until I bumped the yjs version, then I started getting typescript compilation errors:
[code]

It looks like they changed the YEvent definition in version 13.5.28, thus breaking the compilation.
I guess the applyToSlate definitions need to be changed accordingly.

[2022-03-30 15:58] BitPhinix commented on #328
`@slate-yjs/core`, `@slate-yjs/react` both properly support both the latest `yjs` and `slate` versions (+ a tone of other enhancements). I'm no longer updating the legacy version of `slate-yjs`, please migrate to `next` to use the latest yjs version

[2022-03-30 15:58] #328 closed

[2022-04-05 19:48] skokenes opened #331 "Basic example from docs doesn't work"
Hi, I am trying to follow the documentation in order to migrate a legacy codebase up to the latest @slate-yjs. However, I can't seem to get even a simple demo working as I try to follow along with the docs.

See this Codesandbox, where the editor does not display the value loaded into the sharedType. Any feedback?
https://codesandbox.io/s/frosty-rubin-zi72yj?file=/src/App.js

[2022-04-05 20:29] cmmartin commented on #331
FYI you can also fix it by removing `React.StrictMode`...

https://codesandbox.io/s/distracted-liskov-vp0jsf

This is because `React.StrictMode` [double invokes the useMemo functions](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects), which exposes the side effect mentioned by @BitPhinix

This seems to work fine on the current version of React, but is obviously likely to

[2022-04-05 20:54] skokenes commented on #331
Thanks, that helped. I updated the sandbox with your suggestion, now it seems to work

[2022-04-06 16:55] Bartlett-Will opened #332 "withYHistory undo will remove blocks with remote changes in them"
As stated in the title, there are some weird behaviours happening when differentiating remote and local changes. If a remote change is made inside a block that has formatting, and a local user undoes edits around the remote change inside the block, the formatting is removed from the remote change. Similarly if you create a new block locally and there is a remote edit on the new block, the local us

[2022-04-16 16:04] #331 closed

[2022-04-19 22:38] FindAPattern opened #338 "npm install error"
Getting a strange error when installing @slate-yjs/react. Looks like the workspace URL in its package.json does not work in NPM.

[code]

[2022-04-19 23:17] #338 closed

[2022-04-19 23:25] BitPhinix commented on #338
Sorry about this, wasn't aware of https://github.com/changesets/changesets/issues/432. Should be fixed in https://github.com/BitPhinix/slate-yjs/releases/tag/%40slate-yjs%2Freact%400.2.4

[2022-04-20 22:11] rcbevans commented on #286
Is this available yet?  I'm hitting the same issue right now with the page crashing with the following error:

[code]

If the ability to customize the cursor state storage key is not yet available, can you suggest a workaround?

[2022-04-20 22:14] BitPhinix commented on #286
It is available, you can adjust it using the `cursorStateField` (and `cursorDataField`) option in `withCursors`

[2022-04-20 22:16] rcbevans commented on #286
Just edited my comment, I found that myself looking at the exported d.ts, but didn't see it in any documentation.  Glad I found this issue :)

[2022-04-20 22:24] rcbevans opened #342 "How to clear cursor state on editor blur"
On my page I am using two slate editors for different parts of the same document.

Currently, once a user clicks into the editor, their cursor position is shared with all other collaborators and renders correctly (thanks for the hint to use `cursorStateField` to differentiate the cursor position data for each), but the cursor position persistes even once the user blurs the editor.

If a user click

[2022-04-20 22:32] rcbevans commented on #342
I added

[code]

to the Editable component and this does seem to clear the cursor position when the editor loses focus, however on focus again, the cursor position is not synced again until the user moves the cursor to a new position in the editor text.

[2022-04-25 08:20] productivityindustries opened #343 "Slate nodes conversion not fully supported"
Hi, I wrote a simple unit test to validate the conversion from Slate nodes to Yjs shared objects and reverse and, to my surprise, it fails.
[code]

Test output:
[code]

I took as an example a document created in our webapp with an inline image (Slate automatically surround inline elements with empty texts) storing an hyperlink (an empty text with attributes is perfectly valid in Slate).
Digging in

[2022-04-25 16:45] BitPhinix commented on #343
Hi @productivityindustries,

This isn't a bug - it's an intentional tradeoff of the representation of the slate document inside yjs. Slate-yjs relies on slates default normalization rules to be run after applying a remote change, which will add the empty text elements back in, causing the remote and local state to match (except for formatting attributes on blank text nodes). Appling changes with m

[2022-05-10 03:14] niuyueyang2022 opened #348 "Absolute position doesn't match slateRoot, cannot descent into text"
![image](https://user-images.githubusercontent.com/105259756/167533951-49c121f2-5850-4900-916a-093f19ca4177.png)
![result](https://user-images.githubusercontent.com/105259756/167535508-386fd834-54c9-419b-8f5d-86c13d464495.gif)

[2022-05-27 05:31] karthikcodes6 opened #354 "Path doesn't match yText, yTarget spans multiple nodes"
I'm getting this error quite often nowadays, any idea what could be the source?

[2022-05-29 21:06] BitPhinix commented on #354
Is there any specific scenario/conditions where it occurs for you?

[2022-05-30 06:51] karthikcodes6 commented on #354
I'm using slate-yjs with platejs I'm getting this error while pasting content from outside into the editor. I'll try to reproduce the issue with a codesandbox. But do you have any clue why this might happen?

[2022-06-10 14:45] tmathew0309 opened #356 "Changes in new slate-yjs"
Hi is there a write up anywhere about the breaking changes in the new version of `slate-yjs` (post 3.2.0)? Looking for an explanation of what changed and what the motivations were / what improvements to expect when switching given that it will be a relatively large investment on our side.

[2022-06-16 21:48] tmathew0309 commented on #356
@BitPhinix any updates on this?

[2022-06-19 12:25] BitPhinix commented on #356
Hi @tmathew0309,

so sorry for the late reply - I was super busy over the past 2 weeks with personal stuff.

The main reason for the re-write was to represent the document in a more 'yjs native' fashion. While legacy slate-yjs represented the document as nested Y.Array/Y.Map/Y.Text objects, the re-write solely relies on nested Y.XmlTexts to represent the slate content.

This has multiple benefits

[2022-07-11 13:07] #356 closed, assigned to nobody

[2022-08-12 05:25] dizys opened #362 "cursor jumping to line start when using IME"
## What is an IME?

[IME](https://docs.microsoft.com/en-us/windows/apps/design/input/input-method-editors)s are used to type non-latin languages (such as many Asian languages) with latin (QWERTY) keyboard.

## Current behavior

While UserA is in the middle of typing with IME, UserB insert characters at the same line. The cursor of UserA will jump to line start when it receives changes from UserB.

[2022-09-24 18:40] BitPhinix commented on #362
It's more of a slate issue, tbh. The issue is that the remote change is causing the node to re-render, but slate doesn't update/re-set the user selection so it ends up at the start of the node. One solution would be to no apply remote changes while the user is composing 🤔

[2022-09-24 18:40] BitPhinix commented on #354
Did you manage to reproduce this in a codesandbox?

[2022-09-24 18:42] BitPhinix commented on #342
Sorry for taking so long to come back to this, will add a option for it in https://github.com/BitPhinix/slate-yjs/pull/363 🙏

[2022-09-30 19:31] BitPhinix commented on #342
It's included via the `useUnsetCursorPositionOnBlur` hook in https://github.com/BitPhinix/slate-yjs/pull/363/files#diff-5f9695b6035d0b13922dc5a300a83513b0dc0d4a93790b85c9b58d0acb257f0d. Will merge and release a new version of slate-react in 1-2 days

[2022-10-01 14:39] #342 closed

[2022-10-01 14:41] BitPhinix commented on #354
Closing this for now, feel free to re-open if it persists or you have more details

[2022-10-01 14:41] #354 closed

[2022-10-07 01:19] rcbevans opened #366 "Error: Can't resolve 'use-sync-external-store/shim/with-selector' in '/../node_modules/@slate-yjs/react/dist'"
Module not found: Error: Can't resolve 'use-sync-external-store/shim/with-selector' in '/../node_modules/@slate-yjs/react/dist'
Did you mean 'with-selector.js'?
BREAKING CHANGE: The request 'use-sync-external-store/shim/with-selector' failed to resolve only because it was resolved as fully specified
(probably because the origin is strict EcmaScript Module, e. g. a module with javascript mimetype,

[2022-10-13 10:11] trannhutle commented on #322
Hello @sennpang,
Would you mind showing me how to integrate Plate with slate-yjs ?
i really appreciate it. Thank you!

[2022-10-14 04:13] sennpang commented on #322
Sorry, i just run the demo and find that bug
this maybe will help you
[https://docs.slate-yjs.dev/walkthroughs/collaboration-hocuspocus](https://docs.slate-yjs.dev/walkthroughs/collaboration-hocuspocus)
[https://docs.yjs.dev/ecosystem/connection-provider](https://docs.yjs.dev/ecosystem/connection-provider)

[2022-10-17 02:31] umlink opened #371 "The operating error"
**[ERROR]** A is editing, B deletes all contents, A rolls back, and DB hangs
![image](https://user-images.githubusercontent.com/18066052/196076404-1b2b0b7b-88af-41e4-b250-2be55fdbb366.png)

[2022-10-17 11:40] BitPhinix commented on #371
Thanks for reporting; I will take a look soon. Probably can be fixed with a normalization rule to ensure the editor always has content.

[2022-11-04 18:59] faizansaleem13504 commented on #366
Facing the exact same issue

[2022-11-07 12:49] faizansaleem13504 commented on #366
One solution that worked for me was to patch the `package.json` file and setting default export from `"default": "./dist/index.js"` to `"default": "./dist/index.cjs"`
<img width="504" alt="image" src="https://user-images.githubusercontent.com/50497270/200314411-3be65915-15da-4ed3-9352-26ea9337442d.png">

[2022-11-10 01:35] cjjeon commented on #366
This is somewhat related to this thread https://github.com/solana-labs/wallet-adapter/issues/200 which seems like webpack 5 issue with create-react-app.

The way I fixed this issue is:
1. npm install react-app-rewired --save-dev
2. Add config-overrides.js to the project root directory.(NOT ./src)
`
// config-overrides.js
module.exports = function override(config, env) {
  // New config, e.g. confi

[2022-11-11 10:58] ilya2204 opened #372 "useRemoteCursorOverlayPositions in react 18 does not work"
Hello! useRemoteCursorOverlayPositions doesn't seem to work in react 18. In the simplest setup with the withCursors plugin, when a remote user types, an error occurs. Maybe the plugin does not support react 18, but I did not find any information about this. (When I switched to version 17 everything worked as it should)
![image](https://user-images.githubusercontent.com/52297646/201326422-5c2c5f7b-

[2022-11-11 11:05] ilya2204 commented on #372
In @slate-yjs/react@0.2.4 it seems react 18 worked

[2022-11-14 11:08] superBertBerg commented on #372
That only occurs for me if I'm editing at the end of a line my guess: RemoteCursorOverlay is updating before the document is in sync

[2022-11-17 16:04] superBertBerg opened #374 "Awareness Update before State Update"
Hey @BitPhinix thanks for that decent work!

I'm hunting a bug since hour's. Correct me if i'm wrong there is no guarantee that an awareness update comes before it's state change, especially over the wire? So that https://github.com/BitPhinix/slate-yjs/blob/d897d5d0995b3390229228ef7609091622e2344a/packages/react/src/hooks/useRemoteCursorOverlayPositions.tsx#L106-L110 can crash not finding a positi

[2022-11-18 13:57] superBertBerg commented on #374
Or even if that is guaranteed it's possible that slate is not already finished rendering that state?

[2022-11-18 18:10] BitPhinix commented on #374
Hmm, I've been thinking about this one and it shouldn't be happening. Awareness updates definitely shouldn't arrive before their corresponding state update, but even if that happens it wouldn't cause an issue within slate-yjs itself because of the way relative positions work.

So if there is a race-condition it's the cursor change causing a render before slate-react re-renders which possibly could

[2022-11-18 20:29] BitPhinix commented on #372
Could you share a reproducible example of it not working? Just tested bumping the example and it seems to be working there without any issues

[2022-11-20 16:31] ilya2204 commented on #372
Here not working example in my fork https://github.com/ilya2204/slate-yjs/tree/not-working-example

https://user-images.githubusercontent.com/52297646/202913795-c9c5603e-e369-4025-a881-452a7d67ca9b.mp4

[2022-11-21 11:20] BitPhinix commented on #372
Ahaha, I forgot to switch over to `ReactDOM.createRoot`, my bad 😅

[2022-11-21 22:43] FindAPattern commented on #374
I've also been dealing with this exact issue for the past couple days. It only occurs if you start typing at the very end of the document, since the cursor range will be one character past the range in Slate.

[2022-11-22 00:02] FindAPattern commented on #372
It seems like this issue may have to do with React 18's automatic batching. I've been looking into this for a couple of days, and noticed that the editor state seems to be behind the DOM state. `getDOMPoint` looks at the rendered DOM text nodes to compute valid positions. It appears that the automatic batching causes the DOM nodes to get out-of-sync with  the editor state.

I've been able to work

[2022-11-22 02:39] rcbevans commented on #366
@cjjeon  I feel terrible for not following up here, but  I ended up doing exactly this.

[2022-11-22 12:18] superBertBerg commented on #374
I can confirm that, switching back to the old render method solved it for me which should deactivate that kind of batching.

`import { render } from 'react-dom';`

@FindAPattern Thanks for that, that bug drove me mad especially because I searched in the wrong direction. That answer is relief!

@BitPhinix I did a bunch of tests trying to get a race condition but could not. My bug is pretty sure the

[2022-11-22 12:18] #374 closed

[2022-11-23 19:34] BitPhinix commented on #371
Addressed in https://github.com/BitPhinix/slate-yjs/pull/377

[2022-11-23 19:34] #371 closed

[2022-11-28 19:26] juliankrispel opened #378 "hocuspocus is no longer open source"
The backend and frontend example for slate-yjs seems to use the hocuspocus library which is no longer open source. I think it'd be great if there was an open source example that people could use.

I'd be happy to help - some starting points would be greatly appreciated @BitPhinix wdyt

[2022-11-28 20:55] BitPhinix commented on #378
As far as I know, hocuspocus will be OSS once it reaches it's 1.0 release. It's sponsorware at the moment, but the 1.0 release is relatively close (the next stable release): https://tiptap.dev/blog/news-on-tiptap-and-hocuspocus

[2022-11-29 09:08] oskar-szwajkowski opened #379 "Undo after replacing selected text with mark is bringing back mark incorrectly and throws exceptions afterwards"
I am having setup with plate editor + yjs + yjshistory and cursor, basically all plugins that can be put there are working together

It is working for some time already without problems, but I have run into case when it breaks when selected text contains marks, and then we Undo (ctrl + z)

Suddenly more text than before contains this mark, and when we click on it, it throws Path doesn't match yTex